.btn-custom {
    background-color: #E90C0C;
    color: #FFFFFF;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    border-radius: 2rem;
    height: 44px;
    max-width: 150px;
  }
  
  .btn-custom:hover {
    background-color: #FFFFFF;
    color: #E90C0C;

  }
  